//
// Variables
//
$link-hover-decoration: none;

//
// Container
//
$container-max-widths:(
	xl: 1400px
);

//
// Fonts
//
$font-family-sans-serif: 'Poppins', sans-serif;
//
// sp Colors
//
$sp-gray:			#808996 !default;
$sp-white-light:	#f4f6f9 !default;
$sp-gray-dark:		#4f4f4f !default;
$sp-blue:			#14286c !default;
$sp-blue-white:		#8bebff !default;
$sp-blue-light:		#33ccff !default;
$sp-blue-dark:		#08112e !default;
$sp-red:			#db4990 !default;


$primary:			$sp-blue-light;
$secondary:			$sp-blue;
$light:				$sp-white-light;
$dark:				$sp-gray-dark;
$red:				$sp-red;
$info:				$sp-blue-white;
$body-color:		$sp-gray;
$line-height-base:  1.8;

$theme-colors:(
	"sp-gray": 			$sp-gray,
	"sp-white-light": 	$sp-white-light,
	"sp-gray-dark": 	$sp-gray-dark,
	"sp-blue-dark": 	$sp-blue-dark,
	
);

$spacer: 1rem;
$spacers: (
    6: ($spacer * 6),
    7: ($spacer * 7),
    8: ($spacer * 8.5),
    9: ($spacer * 10),
    10: ($spacer * 15),
  );

$headings-line-height: 1.5;