@import	"_custom.scss";
@import	"starter-master.scss";



.custom{
	&-select{
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
}

.form-control{
	font-weight: 300 !important;
	border: 1px solid #f4f6f9 !important;
	border-radius: 0rem !important;
}


#img-top{
	&.img-bg{
		background-repeat: no-repeat;
		background-size: 100%;
		min-height: 80vh;
		background-position: center top;
		// @include media-breakpoint-down(lg){
		// 	min-height: 100vh;
		// 	background-size: cover;
		// }
	}

	a{
		@extend .text-secondary;
		&:hover{
			color: rgb(51,204,255) !important;
			transition: all 0.5s ease;
		}
	}
}
#footer{
	&.img-bg{
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 20vh;
		background-position: bottom right;
	}
	a{
		@extend .text-body;
		&:hover{
			color: rgb(255,255,255) !important;
			transition: all 0.5s ease;
		}
	}
}

