@import	"_custom.scss";
@import	"starter-master.scss";

.custom{
	&-select{
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
}

.form-control{
	font-weight: 300 !important;
	border: 1px solid #f4f6f9 !important;
	border-radius: 0rem !important;
}


#img-top{
	&.img-bg{
		background-repeat: no-repeat;
		background-size: 100%;
		min-height: 80vh;
		background-position: center top;
		@extend .position-relative;
	}
	a{
		@extend .text-secondary;
		&:hover{
			color: rgb(51,204,255) !important;
			transition: all 0.5s ease;
		}
	}
}	